<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <script th:src="@{/vendor/jquery/jquery.js}"></script>
</head>
<body>
<h1>LOGIN...........</h1>
<div class="container">
    <form class="form-signin" method="post" action="/securityLogin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block loginBtn" type="submit">Sign in</button>
    </form>
    <h2 class="form-signin-heading">Login with OAuth 2.0</h2><table class="table table-striped">
    <tr><td><a href="/oauth2/authorization/google">Google</a></td></tr>
</table>
</div>
<script>
    function login(){
        const username = $('input[name="username"]').val();
        const password = $('input[name="password"]').val();
        let userInfo = {};

        userInfo.username = username;
        userInfo.password = password;
        console.log(userInfo);
        $.ajax({
            type: "post",
            url: "/securityLogin",
            data: userInfo,
            success: function(data) {
                alert('성공');
                console.log(data);
                //location.href="/"
            },
            error: function(e){
                alert('error!!');
            }
        });
    }
</script>
</body>
</html>